<head>
<meta charset=”UTF-8”>

<meta name=”viewport” content=”width=device-width, initial-
scale=1.0”>

<link rel=”stylesheet” href=”assets/style.css”>
<title>Flashcards</title>
footer 
.cartao__conteudo h3 {
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    }
    <div class=”cartao__conteudo__respota”>
    <p>O que é JavaScript?</p>
    </div>
    <div class=”cartao__conteudo__resposta”>
    <p>O JavaScript é uma linguagem de programação</p>
    </div
    </div>
</head>