body {
    background-color: bisque;
    font-family: Bai Jamjuree;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    color: white;
}

footer p {
    text-align: center;
    background-color: aquamarine;
    height: 100%;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}

.cartao {
    margin: 1rem 1rem;
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}



.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}

.lista-menu__titulo {
    color: var(--laranja);
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    display: none;
position: absolute;
top: 100%;
width: 60vw;
}